<ion-header>
  <ion-navbar color = "primary">
    <ion-title>
      <div style = "text-align: center;">Home</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <div infinteScroll class = 'search-results' [attr.infiniteScrollDistance]="'2'" [attr.infiniteScrollThrottle] ="'50'"
   (scroll)="onScrollDown()" [attr.scrollWindow]="false">
      <ion-card *ngFor = 'let post of postRes' (click) = 'goToPostDetails(post.title, post.body, post.userId, post.id)'>
          <img src="../../assets/imgs/Post.png">
          <ion-card-header>
            <ion-card-title>
              <div style="white-space: normal; font-weight: bold;">
                  {{post.title}}
              </div>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
  </div> -->

    <ion-card *ngFor = 'let post of postRes' (click) = 'goToPostDetails(post.title, post.body, post.userId, post.id)'>
        <img src="../../assets/imgs/Post.png">
        <ion-card-header>
          <ion-card-title>
            <div style="white-space: normal; font-weight: bold;">
                {{post.title}}
            </div>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
   
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content 
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
    </ion-infinite-scroll>
   

</ion-content>
